.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.list li:nth-child(3n) {
  margin-right: 0;
}

/* fix ProductCard style */
.list li div > *:nth-last-child(2) {
  display: flex;
  align-items: center;
}

.list li > a {
  text-decoration: none;
}
