.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* fix ProductCard style */
.list li div > *:nth-last-child(2) {
  display: flex;
  align-items: center;
}