body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", Arial, sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.container__left {
  width: 18%;
  margin-right: 2%;
}

.container__center {
  width: 60%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
