.container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.container__left {
  width: 18%;
  margin-right: 2%;
}

.container__center {
  width: 65%;
}
