.container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.container__left {
  width: 240px;
  margin-right: 40px;
}

.container__center {
  width: 720px;
}

.container__right {
  /* width: 220px; */
  margin-right: 0;
  margin-left: 40px;
  flex-grow: 1;
}
